body {
    background: url('IGM/Parroquia.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-container button {
    background-color: #11d9f3;
    color: rgb(34, 33, 33);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #c0d314;
}
